.main_timviec {
	float: left;
	width: 100%;
	position: relative;
	background: #fff;
	.container_timviec {
		max-width: 1200px;
		margin: auto;
		.div_bre_2 {
			margin-bottom: 20px;
		}
		.div_bre {
			float: left;
			width: 100%;
			background: #fff;
			line-height: 37px;
			.breadcrumb {
				margin: 0;
				padding: 0;
				font-size: 0;
				line-height: 0;
				height: 37px;
				li {
					list-style: none;
					a {
						padding-right: 0 !important;
						font-weight: 700;
						span {
							padding: 0 !important;
						}
					}
				}
				.first {
					a {
						span:not(.line_h) {
							color: #4c5bd4;
							padding-left: 16px;
							padding-right: 14px;
						}
					}
				}
				li:not(.first)::before {
					content: '>';
					font-size: 14px;
					line-height: 37px;
					color: #474747;
					padding: 0 5px;
					float: left;
					position: relative;
					left: -10px;
					margin-left: 20px;
				}
			}
			.breadcrumb > li {
				a {
					display: inline-block;
					font-size: 14px;
					line-height: 37px;
					color: #474747;
					text-decoration: none;
					background: #fff;
					float: left;
					font-family: Roboto-Regular, sans-serif;
					padding-right: 14px;
				}
			}
		}
		.tag_tdnew {
			float: left;
			width: 100%;
			text-align: center;
			margin-bottom: 10px;
			text-transform: capitalize;
			h1 {
				font-weight: 700;
				font-size: 22px;
				line-height: 35px;
				text-transform: capitalize;
				color: #4c5bd4;
			}
		}
		.title_cate_list {
			float: left;
			width: 100%;
			font-size: 16px;
			line-height: 19px;
			text-transform: capitalize;
			margin: 20px 0;
			font-weight: 700;
			&::before {
				content: '';
				display: inline-block;
				background: url('/images/before_login/nn_1.png');
				width: 19px;
				height: 19px;
				margin-right: 10px;
				margin-bottom: -3px;
			}
			.cv_all {
				font-size: 16px;
				text-decoration-line: underline;
				color: #4c5bd4 !important;
			}
		}
		.vl_left {
			width: 74%;
			float: left;
			#nd_cate {
				float: left;
				width: 100%;
			}
			.nd_cate_new {
				.box_type {
					float: left;
					width: 100%;
					margin-bottom: 15px;
					font-weight: bold;
					font-size: 16px;
					line-height: 19px;
					color: #000000;
					border-bottom: 1px solid #cccccc;
					padding-bottom: 11px;
					.items_type {
						cursor: pointer;
						float: left;
						padding: 11px 0px 5px 0px;
						margin-right: 45px;
					}
					.active {
						padding-bottom: 4px;
						color: #4c5bd4;
					}
				}
				.box_mb_items {
					display: none;
					float: right;
					position: relative;
					.items_name {
						font-weight: bold;
						font-size: 16px;
						line-height: 19px;
						color: #4c5bd4;
						cursor: pointer;
						padding-right: 15px;
						padding-top: 11px;
					}
					.pop_items {
						display: none;
						min-width: 115px;
						position: absolute;
						right: 15px;
						top: 40px;
						z-index: 1;
						padding: 10px;
						background: #ffffff;
						box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
						border-radius: 10px;
						a {
							display: block;
							font-size: 14px;
							text-align: right;
							color: #474747;
							font-weight: normal;
							margin-bottom: 15px;
						}
					}
				}
			}
		}

		// .upcv_st {
		// 	float: left;
		// 	width: 100%;
		// 	border-top: 1px solid #e2e0e0;
		// 	padding: 30px 0;
		// 	p {
		// 		font-weight: 700;
		// 		font-size: 16px;
		// 		line-height: 19px;
		// 		color: #4c5bd5;
		// 		display: inline-block;
		// 		margin-right: 10px;
		// 	}
		// 	a {
		// 		background: #fd3e45;
		// 		border-radius: 20px;
		// 		display: inline-block;
		// 		color: #fff;
		// 		padding: 7px 50px;
		// 	}
		// 	a {
		// 		text-decoration: unset;
		// 	}
		// }
		.btn_upload_cv {
			background: url('/images/bg_upload_cv.png') no-repeat;
			background-size: 100% 100%;
			height: 310px;
			padding: 16px 30px 25px;
			float: left;
			width: 100%;
			text-align: center;
			margin-bottom: 30px;
			.btn_upload_cv_left {
				width: 35%;
				float: left;
				margin-right: 3%;
				margin-top: 35px;
				margin-left: 10%;
				p:first-child {
					font-size: 32px;
					font-weight: 700;
					color: #06c;
					font-family: Myriad Pro;
					margin-bottom: 26px;
				}
				p:nth-child(n + 2) {
					color: #3070b6;
					font-size: 16px;
					font-style: italic;
					margin-bottom: 20px;
					line-height: 23px;
					font-family: Roboto, sans-serif;
					font-weight: 600;
				}
				a {
					margin: 0 auto;
					line-height: 30px;
					color: #fff;
					background: #085ff7;
					border-radius: 25px;
					width: 150px;
					padding: 10px 30px;
					font-family: Roboto, sans-serif;
					font-weight: 700;
					font-size: 15px;
				}
			}

			.btn_upload_cv_right {
				height: 269px;
				width: 445px;
				float: left;
				background: url('/images/laptop.png') no-repeat;
				padding-top: 11px;
				margin-top: 33px;
				.cv_right_video {
					width: 100%;
					height: 217px;
				}
			}
		}
		.cate_tag {
			width: 100%;
			float: left;
			margin-bottom: 10px;
			padding-bottom: 20px;
			border-top: 1px solid #e2e0e0;
			border-bottom: 1px solid #e2e0e0;
			.title_tag {
				font-weight: 700;
				font-size: 16px;
				color: #474747;
				float: left;
				width: 100%;
				padding-top: 5px;
			}
			.rut_gon {
				height: 50px;
				overflow: hidden;
				padding-right: 20px;
			}
			.dm_gy_list {
				float: left;
				width: 100%;
				margin-top: 10px;
				margin-bottom: 15px;
				position: relative;
				text-align: justify;
				a {
					color: #fd3e45;
					display: inline-block;
					line-height: 20px;
					float: left;
					margin-bottom: 5px;
					font-weight: 700;
					text-transform: capitalize;
				}
				span {
					margin: 0 8px;
					float: left;
					font-weight: 700;
					color: #fd3e45;
					line-height: 20px;
					margin-bottom: 5px;
				}
				.show_cd {
					position: absolute;
					top: 0;
					right: -5px;
				}
				.hiden_cd {
					// display: none;
				}
			}
		}
		.box_bottom_cate {
			border-top: 1px solid #e2e0e0;
			padding-top: 40px;
			float: left;
			width: 100%;
			margin-bottom: 50px;
			line-height: 30px;
			#mota {
				float: left;
				width: 100%;
				a {
					color: #4c5bd4;
				}

				p {
					margin-bottom: 6pt !important;
					text-indent: 20px;
					span {
						font-size: 16px !important;
						word-break: break-word;
					}
				}
				.phu_luc {
					float: left;
					width: 29%;
					position: sticky;
					top: 20px;
					.table_of_contents {
						padding: 20px;
						border: 2px dashed #043379;
						.tt_phu_luc {
							width: 100%;
							height: 36px;
							background: url('/images/phu_luc_2.png') no-repeat;
							background-size: 100% 100%;
							text-align: center;
							line-height: 36px;
							color: #fff;
							text-transform: uppercase;
							font-weight: 700;
						}
					}
					ul {
						padding: 0 10px;
						max-height: 355px;
						overflow: scroll;
						margin-top: 15px;
						&::-webkit-scrollbar {
							width: 5px;
						}
						&::-webkit-scrollbar-thumb {
							background: #043379;
						}
						.ul_h2,
						.ul_h3 {
							font-size: 15px;
							font-weight: 700;
						}
						.ul_h3 {
							padding-left: 15px;
						}
					}
				}
				.gt_text {
					float: right;
					text-align: justify;
					width: 66%;
					box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
					padding: 15px 18px;
				}
				.over_bv_footer {
					max-height: 586px;
					overflow: hidden;
					iframe {
						float: left;
					}
				}
				.bv_foo_more_r {
					cursor: pointer;
					float: right;
					width: 66%;
					text-align: center;
					color: #043379 !important;
					font-weight: bold;
					margin-top: 10px;

					font-size: 16px !important;
				}
			}
		}
	}
}
@media screen and (max-width: 1519.98px) {
	.main_timviec {
		.container_timviec {
			max-width: 1091px;
		}
	}
}
@media screen and (max-width: 1300px) {
	.main_timviec {
		.container_timviec {
			.div_bre_2 {
				padding-left: 10px;
				margin-bottom: 10px;
			}
			.vl_left {
				#nd_cate {
					width: 100%;
				}
			}
			.title_cate_list {
				padding: 0 10px;
			}
			.btn_upload_cv {
				.btn_upload_cv_left {
					margin-top: 73px;
					p:first-child {
						font-size: 28px;
					}
				}
			}
			.box_bottom_cate {
				#mota {
					.phu_luc {
						width: 65%;
						margin-left: 17%;
						position: relative;
						top: 0;
						margin-bottom: 30px;
					}
					.gt_text {
						width: 100%;
					}
					.bv_foo_more_r {
						width: 100%;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1165px) {
	.main_timviec {
		.container_timviec {
			.vl_left {
				width: 100%;
				.nd_cate_new {
					.box_type {
						padding-left: 20px;
					}
				}
			}
			.btn_upload_cv {
				.btn_upload_cv_left {
					margin: 0;
					padding-top: 30px;
					border-top: 1px solid #e2e0e0;
					width: 100%;
					p:first-child {
						font-size: 24px;
					}
				}

				.btn_upload_cv_right {
					display: none;
				}
			}
		}
	}
}
@media screen and (max-width: 1023.98px) {
	.main_timviec {
		padding: 0 20px;
		.container_timviec {
			.vl_left {
				.nd_cate_new {
					.box_type {
						.items_type {
							margin-right: 25px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767.98px) {
	.main_timviec {
		.container_timviec {
			.div_bre_2 {
				margin-top: 5px;
			}
			.div_bre {
				.breadcrumb {
					li {
						a {
							line-height: 25px;
						}
					}
					li:not(.first)::before {
						line-height: 26px;
					}
				}
			}
			.btn_upload_cv {
				.btn_upload_cv_left {
					margin: 0;
					padding-top: 30px;
					border-top: 1px solid #e2e0e0;
					width: 100%;
					p:first-child {
						font-size: 24px;
					}
				}

				.btn_upload_cv_right {
					display: none;
				}
			}
			.tag_tdnew {
				h1 {
					font-size: 20px;
				}
			}
			.box_bottom_cate {
				#mota {
					.phu_luc {
						margin-left: 0;
						width: 100%;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 500px) {
	.box_bottom_cate {
		#mota {
			padding: 0 !important;
		}
	}
}
@media screen and (max-width: 480px) {
	.main_timviec {
		padding: 0 5px;
		.container_timviec {
			.div_bre_2 {
				padding-left: 0;
			}
			.div_bre {
				.breadcrumb {
					li:not(.first)::before {
						line-height: 26px;
					}
				}
			}
			.tag_tdnew {
				h1 {
					font-size: 16px;
				}
			}
			.vl_left {
				.nd_cate_new {
					.box_type {
						.items_type {
							display: none;
						}
					}
					.box_mb_items {
						display: block;
					}
				}
			}
			.title_cate_list {
				font-size: 15px;
				padding: 0 8px;
			}
			.cate_tag {
				.dm_gy_list {
					a {
						width: 90%;
						line-height: 22px;
					}
				}
			}
		}
	}
}
