.containerMk {
	float: left;
	width: 100%;
}
.intro_re {
	height: 67px;
	background: #f6fcff;
	line-height: 67px;
	padding: 0 20px;
	box-sizing: border-box;
	width: 100%;
	float: left;
	span {
		float: left;
		font-size: 14px;
		color: #616264;
		line-height: 67px;
	}
	.xn_re {
		font-size: 14px;
		line-height: 16px;
		color: #232f87;
		font-weight: 700;
		padding-left: 10px;
	}
}
.qmk-uv {
	float: left;
	width: 100%;
	.vieclam_container {
		width: 1170px;
		margin-right: auto;
		margin-left: auto;
		height: auto;
		.form_quen_mk {
			float: left;
			width: 100%;
			.div_form_qmk {
				padding: 0;
				margin-top: 50px;
				float: left;
				width: 100%;
				background: #fff;
				h1 {
					margin: 21px 0;
					text-align: center;
				}

				.form_uv_mk {
					width: 600px;
					margin-left: auto;
					margin-right: auto;
					padding-bottom: 28px;
					.error_message {
						color: #ef474f;
						display: block;
						box-sizing: border-box;
						margin-top: 5px;
						float: left;
						width: 100% !important;
						text-align: left;
						margin-left: 10px;
						font-size: 16px;
						padding-top: 5px;
					}
					.error_f {
						border: 1px solid #ff0000;
						color: #ff0000;
					}
					.email {
						font-size: 16px;
					}
					.form-control {
						border: 1px solid #bdbdbd;
						font-size: 16px;
						height: 40px;
						padding-left: 15px;
						color: #a5abc7;
						background-color: #fff;
						border-radius: 10px;
						box-sizing: border-box;
						width: 100%;
					}
					.recaptcha {
						display: flex;
						width: 100%;
						justify-content: center;
						padding-top: 15px;
					}
					p {
						text-align: center;
						width: 100%;
						float: left;
						margin-left: auto;
						margin-right: auto;
						font-style: italic;
						font-weight: 400;
						font-size: 16px;
						line-height: 18px;
						padding: 35px 0px;
					}
				}
				.div_su_quen_mk {
					text-align: center;
					float: left;
					width: 100%;

					.btn_quen_mk {
						width: 215px;
						height: 39px;
						background: #4c5bd4;
						border: none;
						color: #fff;
						border-radius: 20px;
						font-size: 16px;
						margin-bottom: 39px;
						&:hover {
							cursor: pointer;
						}
					}
				}
				p {
					text-align: center;
					width: 100%;
					float: left;
					margin-left: auto;
					margin-right: auto;
					font-style: italic;
					font-weight: 400;
					font-size: 16px;
					line-height: 18px;
					padding: 35px 0px;
					a {
						color: red;
					}
				}
			}
			.bottom_re_mk {
				.yt-mk {
					width: 469px;
					height: 334px;
					margin-left: auto;
					margin-right: auto;
					.iframe_box {
						float: left;
						width: 100%;
						margin-top: 50px;
						margin-bottom: 100px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1200px) {
	.qmk-uv {
		.vieclam_container {
			width: auto;
		}
	}
}
@media screen and (max-width: 1165px) {
	.qmk-uv {
		.vieclam_container {
			background: #fff;
		}
	}
}

@media screen and (max-width: 1025px) {
	.qmk-uv {
		margin-bottom: 0;
		background: #fff;
		margin-top: 60px;
		.vieclam_container {
			.form_quen_mk {
				.div_form_qmk {
					padding: 20px 10% !important;
					.form_uv_mk {
						width: 100% !important;
						padding-top: 25px !important;
					}
				}
				.bottom_re_mk {
					.yt-mk {
						width: 50% !important;
						margin: auto;
						.iframe_box {
							margin-top: 0 !important;
							margin-bottom: 0 !important;
							padding-bottom: 50px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 769px) {
	.qmk-uv {
		.vieclam_container {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
@media screen and (max-width: 540px) {
	.qmk-uv {
		.vieclam_container {
			.form_quen_mk {
				.div_form_qmk {
					.form_uv_mk {
						width: 100% !important;
						padding-top: 30px !important;
					}
				}
				.bottom_re_mk {
					.yt-mk {
						width: 100% !important;
						.iframe_box {
							margin-top: 0 !important;
							margin-bottom: 0 !important;
							padding-bottom: 0;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 415px) {
	.intro_re {
		display: none;
	}
	.qmk-uv {
		.vieclam_container {
			width: 100% !important;
			.form_quen_mk {
				.div_form_qmk {
					.form_uv_mk {
						width: 100% !important;
						padding-top: 20px !important;
					}
				}
			}
		}
	}
}
