#liveChatContainer {
	.widget {
		position: fixed;
		bottom: 0;
		right: 16px;
		z-index: 9999999;
		button {
			background: 0 0;
			border: transparent;
			cursor: pointer;
		}
		.talk_button {
			background: #1f7ed0;
			box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
			border-radius: 10px 10px 0px 0px;
			display: flex;
			align-items: center;
			padding: 20px 0;
			justify-content: center;
			font-size: 16px;
			line-height: 20px;
			color: #fff;
			width: 117px;
			height: 60px;
			border: none;
			position: relative;
			font-family: Roboto-Medium;
		}
		.liveChatMain {
			width: 350px;
			min-width: 350px;
			position: relative;
			.liveChatHeader {
				background: #1f7ed0;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
				padding: 8px 16px;
				border-radius: 8px 8px 0 0;
				.liveChatHeaderButton {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					#liveChatClose {
						background: 0 0;
						color: #fff;
						border: transparent;
						font-size: 20px;
						margin: 10px;
						padding: 0;
					}
				}
				.text {
					color: #fff;
					font-size: 16px;
					line-height: 24px;
					text-align: center;
					font-weight: 400;
					font-family: Roboto-Medium;
					width: 100%;
					a {
						text-decoration: none;
					}
				}
			}
			.liveChatBody {
				background: #fff;
				box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
				padding: 8px;
				position: relative;
				.listConversation {
					height: 450px;
					overflow: auto;
				}
				#typing {
					position: relative;
					font-size: 14px;
					line-height: 12px;
					color: #666666;
					font-weight: bold;
					left: 20px;
					font-style: italic;
					top: 0px;
				}
				#mainEnterChat {
					margin-top: 10px;
					border-top: 1px solid #ccc;
					#boxPreview {
						display: flex;
						flex-wrap: wrap;
						padding: 5px;
						button.itemPreview {
							border: 1px solid #ccc;
						}
						.itemPreview {
							width: 40px;
							height: 40px;
							position: relative;
							border: 1px solid #ccc;
							justify-content: center;
							margin-right: 10px;
							border-radius: 50%;
							padding: 3px;
							align-items: center;
							display: flex;

							img {
								max-width: 100%;
								max-height: 100%;
								border-radius: 50%;
							}
							.closePreview {
								position: absolute;
								right: 0;
								top: 0;
								background: #fff;
								border: 1.5px solid #999;
								width: 13px;
								height: 13px;
								display: flex;
								border-radius: 50%;
								font-size: 8px;
								align-items: center;
								justify-content: center;
								cursor: pointer;
							}
						}
						.itemPreview.File {
							background: #f8981b;
						}
					}
					#boxEnterChat {
						display: flex;
						justify-content: space-between;
						border-radius: 30px;
						padding: 7px 0;
						align-items: center;
						#boxEditor {
							width: calc(100% - 35px);
							display: flex;
							align-items: center;
							margin-right: 10px;
							flex-wrap: wrap;
							background: #f2f2f2;
							border-radius: 30px;
							#boxRepMess {
								width: 100%;
								padding: 10px 15px 0;
								position: relative;
								display: none;
								#boxRepMessTop {
									display: flex;
									align-items: flex-start;
									width: 100%;
									justify-content: space-between;
									padding-bottom: 10px;
									border-bottom: 1px solid #999999;
									#boxContentRepMess {
										padding-top: 5px;
										width: calc(100% - 26px);
										padding-left: 5px;
										#contentRepMess {
											font-size: 16px;
											line-height: 20px;
											color: #474747;
											white-space: nowrap;
											text-overflow: ellipsis;
											overflow: hidden;
											padding-right: 20px;
										}
										#timeRepMess {
											font-size: 14px;
											color: #999999;
										}
										p {
											margin: 0;
											padding: 0;
										}
									}
								}
							}
							#tawkChatinputEditor {
								resize: none;
								background: transparent;
								border: transparent;
								width: 100%;
								outline: 0;
								cursor: text;
								min-height: 24px;
								max-height: 240px;
								padding: 10px 15px;
								font-size: 16px;
								color: #474747;
							}
						}
						#chatinputActionButtons {
							#btnSendMess,
							#addFile {
								display: flex;
								align-items: center;
								cursor: pointer;
								svg {
									width: 40px;
									height: 40px;
								}
							}
							#tawkChatinputAddFile {
								display: none !important;
							}
						}
					}
				}
				#onBotLiveChat {
					background: #e6e9fd;
					width: 32px;
					height: 32px;
					border-radius: 50%;
					position: absolute;
					bottom: 78px;
					right: 25px;
					display: none;
				}
			}
			#drag {
				position: absolute;
				left: -15px;
				top: 0;
				bottom: 0;
				width: 28px;
				cursor: w-resize;
				display: flex;
				align-items: center;
				z-index: 9;
			}
		}
	}
}
